* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-muted: #666666;
  --color-alt: #f2f2f2;

  --max-width: 1100px;
}

/* TEXTO GENERAL — Helvetica (system font) */
body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-text);
  line-height: 1.5;
}

/* CABECERAS — Futura (Montserrat como alternativa web) */
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Tamaños */
h1 {
    text-align: center;
    font-size: clamp(2.8rem, 3vw, 5rem);
    color: #ffffff;
}

h2 {
  color: #303c90;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.title-projects{
  text-align: center;
  color: #f2f2f2;
  margin-top: 20px;
}

h3 {
  color: #474747;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 5%;
}


h4{
  color: #f2f2f2;
  font-size: 1.5rem;
  text-align: center;
}

p {
  max-width: 60ch;
}


.card-description{
  color: #d1d1d1;
  font-size: 12px;
  text-align: center;
  margin-bottom: 7%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}