.menu {
  position: absolute;
  top: 60px; /* debajo del header */
  right: 0;
  width: 200px;
  background-color: #303c90;
  border-radius: 8px;
  overflow: hidden;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.button {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.project-list {
  list-style: none;
  font-size: 1.5rem;
}

.project-list li {
  margin-bottom: 1rem;
}

.project-list a {
  text-decoration: none;
  color: black;
}

/* Botón hamburguesa */
.hamburger {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-color: #000000;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  transition: background-color 0.3s;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2px;
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover */
.hamburger:hover {
  background-color: #ffffff;
}

.hamburger:hover span {
  background-color: #000000;
}

/* Animación al abrir/cerrar (opcional) */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.logo {
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1); /* se agranda un 10% */
}

/* Proyectos */ 
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  text-align: center;
}

.project-info h3 {
  margin-bottom: 8px;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

