/* Estilos específicos SOLO de la home */

.hero {
    overflow: hidden;
}

/* Fondo decorativo */
.hero-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    #e8402b,
    #f9b125,
    #134685
  );
  z-index: 1;
}

/* Contenido que se mueve */
.hero-content {
  position: relative;
  z-index: 2;
  transition: transform 0.1s ease-out;
}
