@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr; /* en móvil sí se apilan */
    gap: 2rem;
  }

  .about-image img {
    max-width: 400px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .about-text,
  .about-image {
    transition: none;
    transform: none;
    opacity: 1;
  }
}

/*MIS HABILIDADES SECCION*/
@media (max-width: 768px) {
  .skill {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}

