@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr; /* en móvil sí se apilan */
    gap: 2rem;
  }

  .about-image img {
    max-width: 400px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .about-text,
  .about-image {
    transition: none;
    transform: none;
    opacity: 1;
  }
}

/*MIS HABILIDADES SECCION*/
@media (max-width: 768px) {
  .skill {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}

/*CSS PARA PANTALLA ERROR 404*/

/* Reset mínimo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.error-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    #e63946,   /* rojo */
    #303c90,   /* azul */
    #f1c40f    /* amarillo */
  );
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
  color: white;
  text-align: center;
  padding: 20px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.error-content {
  max-width: 600px;
}

.error-content h1 {
  font-size: clamp(6rem, 15vw, 10rem);
  font-weight: 800;
  font-family: "DM Serif Display", serif;
  line-height: 1;
  margin-bottom: 20px;
}

.error-content h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.error-content p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 30px;
}

.error-button {
  display: inline-block;
  padding: 14px 30px;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.error-button:hover {
  background-color: white;
  color: #000;
  transform: translateY(-3px);
}

.error-content {
  transition: transform 0.2s ease;
}

